<!DOCTYPE html>
<title> SiFi ★ </title>
<link href="../css/style.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<script>window.jQuery || document.write('<link href="../css/bootstrap.css" rel="stylesheet">')</script>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">SiFi ★</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="files">Browse</a></li>
      <li><a href="upload">Upload</a></li>
    </ul>
  </div>
</div>
<div class="row">
<div class="span8">
<table class="table table-hover">
  <tbody>
  <tr>
    <td colspan="2"><center> Name </center></td>
  </tr>
  <% for f in @files %>
  <tr>
    <td>
    <ul>
      <li>
        <%= File.basename(f) %>
      </li>
    </ul>
    </td>

    <td>
      <a href='/dl/<%= File.basename(f) %>'><button class="btn btn-primary" type="button"> Download </button></a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<div class="span3 file">
  <a href='/files'><button class="btn btn-info"> All Files </button></a></br>
  <a href='/files/pdf'><button class="btn btn-info"> PDF </button></a></br>
  <a href='/files/epub'><button class="btn btn-info"> Epub </button></a></br>
  <a href='/files/mobi'><button class="btn btn-info"> Mobi </button></a>

</div>
</div>
<div class="footer">
  <div class="container">
    <div class="span8 center offset2">
    <p class="footer-text">
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=yelinaung&amp;repo=SiFi&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe><iframe src="http://ghbtns.com/github-btn.html?user=yelinaung&repo=SiFi&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
      </p>
      </div>
    </div>
  </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/bootstrap.min.js"><\/script>')</script>

