<!DOCTYPE html>
<title> Files </title>
<link href="../css/style.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

<div class="row">
<div class="span8">
<table class="table table-hover">
  <thread>
    <tr>
      <th> Name </th>
      <th> </th>
    </tr>
  </thread>
  <tbody>
  <tr>
  </tr>
  <% for f in @files %>
  <tr>
    <td>
    <ul>
      <li>
        <%= File.basename(f) %>
      </li>
    </ul>
    </td>

    <td>
    </td>

    <td>
      <a href='/dl/<%= File.basename(f) %>'><button class="btn btn-primary" type="button"> Download </button></a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<div class="span3 file">
  <a href='/files'><button class="btn btn-info"> All Files </button></a></br>
  <a href='/files/pdf'><button class="btn btn-info"> PDF </button></a></br>
  <a href='/files/epub'><button class="btn btn-info"> Epub </button></a></br>
  <a href='/files/mobi'><button class="btn btn-info"> Mobi </button></a>

</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script>window.jQuery || document.write('<script src="js/bootstrap.min.js"><\/script>')</script>

